<!DOCTYPE html >
<html layout:decorator="shared/homelayout" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
	<th:block layout:fragment="header">
		<link rel="stylesheet" type="text/css" th:href="@{/css/home-index.css}" />
	</th:block>
	
	<th:block layout:fragment="content">
		<h2>List of Airlines</h2>
		<a href="/airline/new">Add a New Airline Info</a>

		<table class="table table-striped">
			<thead style="background-color: darkblue; color:white";>
				<th>ID</th>
				<th>Name</th>
				<th>Action</th>
			</thead>
			<tbody>

			<!--/*@thymesVar id="airlines" type=""*/-->
			<tr th:each="airline : ${airlines}">
				<td th:text="${airline.id}"></td>
				<td th:text="${airline.airlineName}"></td>
				<td>
					<a th:href="@{'/airline/' + ${airline.id}}">Edit</a>&nbsp;
				</td>
			</tr>
			</tbody>
		</table>
	</th:block>
	
	<th:block layout:fragment="footer">
	</th:block>
	
</body>
</html>